#The local router-id
router-id: 1

#Input-ports set the UDP port used to send msg to neighbors
input-ports: 11002, 11006, 11007

#outputs set the neighbor informations running RIP
#format: remote_port - metric - remote_router_id
outputs: 12001-1-2, 17001-8-7, 16001-5-6
